apiVersion: v1
kind: Pod
metadata:
  name: config-demo
  namespace: roboshop
  labels:
    project: roboshop
    component: frontend
spec:
  containers:
    - name: nginx
      image: nginx
      ports:
       - containerPort: 80
      envfrom:
        - ConfigMapRef:
            name: pod-config 